@import url(components/avatars.css);
@import url(components/banner.css);
@import url(components/cards.css);
@import url(components/links.css);
@import url(components/sidebars.css);


body {
  background-color: #e8e8e8;
  font-family: monospace;
  color: #999999;
  font-size: 15px;
  text-align: center;
}

#page-content {
  margin-left: 150px;
}
